@page
@using System.Security.Claims
@model RokPrzestepnyZBaza.Pages.HistoriaModel
@{
}
<div>
    <h1 class="display-4">Historia</h1>

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Rok
                    </th>
                    <th>
                        Imie
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Wynik
                    </th>
                    <th>
                        Id użytkownika
                    </th>
                    <th>
                        Login użytkownika
                    </th>
                    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) != null)
                    {
                        <th>
                            Usuwanie
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var data in @Model.lista)
                {
                    <tr>
                        <td>
                            @data.Id
                        </td>
                        <td>
                            @data.Rok
                        </td>
                        <td>
                            @data.Imie
                        </td>
                        <td>
                            @data.Data
                        </td>
                        <td>
                            @data.Result
                        </td>
                        <td>
                            @data.loginID
                        </td>
                        <td>
                            @data.Login
                        </td>
                        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == @data.loginID)
                        {
                            <td>
                                <a class="btn btn-danger" asp-page="Delete" asp-route-id="@data.Id">Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.lista.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.lista.HasNextPage ? "disabled" : "";
        }

    <a asp-page="./History"
       asp-route-pageIndex="@(Model.pageIndexValue - 1)"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="./History"
       asp-route-pageIndex="@(Model.pageIndexValue + 1)"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
      
</div>